<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BismillahPPBMass1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BismillahPPBMass1"
        tools:targetApi="31">
        <activity
            android:name=".kebutuhanbenih"
            android:exported="false" />
        <activity
            android:name=".kalkulatorpertanian"
            android:exported="false" />
        <activity
            android:name=".Kebutuhan_benih"
            android:exported="false" />
        <activity
            android:name=".Kalkulator_pertanian"
            android:exported="false" />
        <activity
            android:name=".Desk"
            android:exported="false" />
        <activity
            android:name=".Deskripsii"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />
        <activity
            android:name=".Deskripsi"
            android:exported="false" />
        <activity
            android:name=".menu_utama"
            android:exported="false" />
        <activity
            android:name=".Halaman_Dev"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>